/** @format */

.container {
	position: relative;
	top: -50%;
	left: -50%;
	width: 200%;
	height: calc(200% + 1px);
	box-sizing: border-box;
	border-radius: 0 0 3px 3px;
	padding: 10px;
	box-sizing: border-box;
	transform: scale(0.5);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.section {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #aeaaaa;
	overflow: scroll;
}

.tg {
	border-collapse: collapse;
	border-color: #aaa;
	border-spacing: 0;
	box-sizing: border-box;
	margin: 3px;
	margin-block-start: 20px;
}
.tg td {
	background-color: #fff;
	border-color: #aaa;
	border-style: solid;
	border-width: 0px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg th {
	background: #d1d1d1d3;
	background: linear-gradient(180deg, #d1d1d1d3 0%, #ffffff 100%);
	border: 1px solid #999999;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
	width: 50px;
}
.tg .tg8jgo {
	border-color: #ffffff;
	text-align: center;
	vertical-align: top;
}

.tg .tgVqx1 {
	background-color: #a4a4a4;
	border-color: #545454;
	color: #000000;
	text-align: center;
	vertical-align: top;
	width: 100px;
}

.tg .tgVqx2 {
	width: 100%;
}

.controlers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 3px;
	width: 100%;
	box-sizing: border-box;
}

.selectType {
	display: flex;
	gap: 4px;
	width: 100%;
	box-sizing: border-box;
}

.selectType input {
	margin-inline-end: 10px;
}

.filterButton {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	box-sizing: border-box;

	align-items: center;
	gap: 5px;
}

.selectedRow {
	background-color: #1148ffc1;
}

.filterButton div {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-inline-start: 10px;
	gap: 5px;
}
.filterButton button {
	display: flex;
	margin-inline-end: 5px;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 3px;
	font-weight: 600;
}

.filterButton button:hover {
	background-color: #17ff1778;
	transform: scale(0.9);
}

.filterButton button:active {
	background-color: #17ff1778;
	transform: scale(0.9);
}

.filterButton button:last-child:hover {
	background-color: #ff171778;
	transform: scale(0.9);
}

.filterButton button:last-child:active {
	background-color: #ff171778;
	transform: scale(0.9);
}
