/** @format */

.container {
	position: absolute;
	padding: 10px;
	border: 1px solid var(--border);
	transition: opacity 1s ease;
	color: var(--color);
	background-color: #2c2c2cb6;
	border-radius: 3px;
	font-size: 10px;
	z-index: 99;
	box-shadow: 0 0 5px 0 #6c6c6c;

	& .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 3px;
	}
}

.content div span {
	margin-block: 2px;
}
